/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  color: #265077;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 991px;
  width: 100%;
  margin: 0 auto;
}
.site-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background: #022140;
  padding: 10px 30px;
  z-index: 2;
}
.site-header .logo {
  font-size: 4.2rem;
  color: #ffffff;
}
@media (max-width: 500px) {
  .site-header .logo {
    font-size: 4rem;
  }
}
.site-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  margin-bottom: 10px;
}
.site-header nav a {
  margin: 0 1.39vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 500px) {
  .site-header nav a {
    margin: 0 2.78vw;
  }
}
.page-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  background: #022140;
}
.page-footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  width: 100%;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .page-footer nav {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }
}
.page-footer nav a {
  margin: 0 1.39vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: semi-bold;
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 500px) {
  .page-footer nav a {
    width: 95%;
    padding: 20px 0;
    margin: 0 2.78vw;
    text-align: center;
  }
}
.design-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  margin: 0 auto;
}
.design-selector div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
}
.design-selector div button {
  width: 100px;
  margin: 10px 0;
  padding: 5px;
  border-radius: 15px;
}
.home {
  margin: 20px auto;
  padding: 10px 50px;
}
.home * h2 {
  margin: 5px 0;
}
.home * p {
  padding: 5px 0;
}
.home .banner {
  margin-top: 10px;
  margin-bottom: 50px;
}
.home .banner .hero-image-wrapper img {
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .home .banner .hero-image-wrapper img {
    border-radius: 5px;
  }
}
@media (max-width: 500px) {
  .home .banner .hero-image-wrapper {
    height: 30%;
  }
}
.home .introduction {
  display: flex;
  padding-top: 20px;
  border-top: 2px solid #022140;
}
.home .introduction .intro-column {
  flex: 0 0 48%;
}
.home .introduction .intro-column:first-child {
  margin-left: 0;
}
.home .middle-image-wrapper {
  margin: 20px auto;
}
.home .product-and-services {
  display: flex;
  margin: 30px 0;
  padding-top: 20px;
  border-bottom: 2px solid #022140;
}
.home .product-and-services .p-and-s-column {
  flex: 0 0 33%;
}
.home .contact-info {
  margin: 20px 0;
}
.home .contact-info address {
  font-size: 1.8rem;
  line-height: 1;
}
.home .contact-info address a {
  color: black;
  text-decoration: none;
}
.home .contact-info address a:hover {
  text-decoration: underline;
}
