//Color Palette
@primary-color: #265077;
@primary-dark: #022140;
@primary-light: #C5CAE9;
@accent: #51A7F8;
@emphasis: #212121;
@secondary: #1E4258;
@dark-text: #595959;
@light-text: #FFFFFF;
@secondary-text: #CCC;
@primary-bg-shading: #FCFCFC;
@secondary-bg-shading: #f0f0f8;
@coral: #ff7f50;

// Color Scheme
@headerBg: @primary-dark;
@headerFontColor: @light-text; 
@footerBg: @headerBg;
@footerFontColor: @headerFontColor;
@headingColor: @primary-color;
@defaultFontColor: @dark-text;

// Mobile var
@phone: ~"(max-width: 500px)";
